<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="wrapper">
      <%- include('./partials/nav.ejs') %>
      <form id="post-form" method="post" action="/add-post">
        <div class="form-info">
          <label
            >Post Title
            <input type="text" name="title" />
          </label>
          <label
            >Author
            <input type="text" name="author" />
          </label>
        </div>
        <div class="form-text">
          <label
            >Post Text
            <textarea name="text"></textarea>
          </label>
        </div>
        <div class="form-button">
          <input class="submit" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
