<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <div class="wrapper">
      <%- include('./partials/nav.ejs') %>
      <h1 class="home_title">Personal Blog</h1>
      <p class="home_description">Build with Node.js Express, EJS, MongoDB</p>
    </div>
  </body>
</html>
