body {
  background-image: url(https://wallpapershome.ru/images/pages/pic_h/599.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.wrapper {
  padding-top: 20px;
  min-height: calc(100vh - 90px);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  width: 80%;
}

h1 {
  text-transform: uppercase;
  color: #00000063;
}

.nav {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  margin: 20px auto;
  border-radius: 50px;
  box-shadow: 0px 0px 20px inset;
  align-items: center;
  z-index: 100;
  background-color: rgba(64, 173, 190, 0.323);
}
@media only screen and (max-width: 740px) {
  .nav {
    border-radius: 5px;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(64, 173, 190, 0.323);
  box-shadow: 0px 0px 20px inset;
  backdrop-filter: blur(6px);
  text-shadow: 0px 0px 4px;
  height: 150px;
  width: 444px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.nav_list {
  margin: 0;
  display: flex;
}

@media only screen and (max-width: 740px) {
  .nav_list {
    display: flex;
    flex-direction: column;
  }
}

nav a {
  display: block;
  padding: 5px 15px;
  line-height: 60px;
  text-shadow: 0px 0px 1px black;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #00000063;
}

.cotacts_link {
  color: #00000063;
}
a:hover {
  color: #d6d2d2;
}

article {
  background-color: rgb(64 173 190 / 20%);
  box-shadow: 0px 0px 10px inset;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  backdrop-filter: blur(6px);
}

.info {
  display: flex;
  justify-content: space-between;
}

.post .info {
  justify-content: flex-start;
  gap: 50px;
}

h2 a {
  color: #00000063;
}

form {
  background-color: rgb(64 173 190 / 20%);
  box-shadow: 0px 0px 10px inset;
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

form div {
  margin-bottom: 20px;
  display: flex;
}

form div label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-info {
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 30px;

  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
input {
  width: 80%;
}
textarea {
  width: 90%;
}
.submit {
  width: 100px;
  border: none;
}

textarea {
  resize: none;
  min-height: 150px;
}

.form-button {
  display: flex;
  justify-content: flex-start;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.home,
.error {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
}
.home_title {
  color: #00000063;
}
.home_description {
  color: #00000063;
}

.error h1 {
  margin-top: 0;
}

.contacts li {
  padding-left: 20px;
  list-style-position: inside;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}

.btn-edit,
.btn-delete {
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgb(0 0 0 / 15%);
  color: #fff;
  width: 48px;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-edit,
.btn-delete:hover {
  background-color: rgb(0 0 0 / 15%);
}

.btn-edit {
  right: 65px;
  border: none;
}

.btn-delete {
  right: 10px;
  border: none;
}
.string {
  text-shadow: 0px 0px 4px black;
}
